#header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background: linear-gradient(
      rgba(112, 222, 195, 0.85),
      rgba(187, 112, 215, 0.85)
    ),
    url('./desktop-clipart-peacock-9.jpg') left center no-repeat;
}

/* #header img {
  filter: blur(5px);
  margin: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
} */

.title {
  font-family: Cinzel, serif;
  line-height: 122%;
  font-size: 10vw;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 142%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
}

@media only screen and (min-width: 780px) {
}
